In [1]:
import pandas as pd

In [17]:
webtoon_info_df = pd.read_csv('NaverWebtoon.csv', encoding='cp949')
webtoon_1st_df = pd.read_csv('1st.csv')
webtoon_2nd_df = pd.read_csv('2nd.csv')
webtoon_3rd_df = pd.read_csv('3rd.csv')

In [19]:
webtoon_1st_df.head()

   rank     title       artist     summary  rating  comments
0    10    싱글맘맘이야      gimarie  싱글맘의 생생 실화    9.92       506
1     1      여우자매   rkddusl999     구미호 이야기    9.90      5012
2     2  대학원 탈출일지      ari9402  대학원에서 살아남기    9.90       918
3     4  오사와 오폐수들  oreo_hunter   그냥 오사의 일상    9.90       742
4     6   저승파견고용직    skuldness  기묘한 러브액션로망    9.90      1027

In [6]:
import pymysql
# import MySQLdb
from sqlalchemy import create_engine

In [13]:
conn_info = {'host':'team3-dbms.c6haebloazau.ap-northeast-2.rds.amazonaws.com',
            'user':'admin',
            'password':'Wnalsrl1210',
            'db':'webtoon',
            'charset':'utf8'}
conn = pymysql.connect( **conn_info )
cursor = conn.cursor()

In [8]:
# 웹툰 info 테이블 생성
sql = """
    CREATE TABLE webtoon_info (
        rank INT PRIMARY KEY COMMENT "조회수 순위",
        title VARCHAR(50) NOT NULL COMMENT "웹툰 제목",
        artist VARCHAR(30) NOT NULL COMMENT "작가 이름",
        summary VARCHAR(30) NOT NULL COMMENT "작품 설명",
        rating FLOAT(5,4) NOT NULL COMMENT "별점",
        comments INT NOT NULL COMMENT "댓글 수"
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
cursor.execute(sql)
conn.commit()

conn.close()

In [9]:
# pymysql을 이용하여 connector 만들기
# insert DataFrame to DB
# 웹툰 info 테이블 INSERT
pymysql.install_as_MySQLdb()

engine = create_engine("mysql+mysqldb://admin:"+"Wnalsrl1210"+"@team3-dbms.c6haebloazau.ap-northeast-2.rds.amazonaws.com/webtoon",
encoding='utf-8')
conn = engine.connect()

# pandas to_sql() function
webtoon_info_df.to_sql(name='webtoon_info', con=engine, if_exists='append', index=False)
# to_sql : DataFrame을 DB로 insert / 테이블이 없을 경우에는 자동생성, if_exists로 있을 경우에는 insert

In [20]:
conn_info = {'host':'team3-dbms.c6haebloazau.ap-northeast-2.rds.amazonaws.com',
            'user':'admin',
            'password':'Wnalsrl1210',
            'db':'webtoon',
            'charset':'utf8'}
conn = pymysql.connect( **conn_info )
cursor = conn.cursor()

# 웹툰 1st info 테이블 생성
sql = """
    CREATE TABLE webtoon_1st_info (
        no INT PRIMARY KEY AUTO_INCREMENT COMMENT "ID",
        rank INT NOT NULL COMMENT "조회수 순위",
        title VARCHAR(50) NOT NULL COMMENT "웹툰 제목",
        artist VARCHAR(30) NOT NULL COMMENT "작가 이름",
        summary VARCHAR(30) NOT NULL COMMENT "작품 설명",
        rating FLOAT(5,4) NOT NULL COMMENT "별점",
        comments INT NOT NULL COMMENT "댓글 수"
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
cursor.execute(sql)
conn.commit()

# 웹툰 2nd info 테이블 생성
sql = """
    CREATE TABLE webtoon_2nd_info (
        no INT PRIMARY KEY AUTO_INCREMENT COMMENT "ID",
        rank INT NOT NULL COMMENT "조회수 순위",
        title VARCHAR(50) NOT NULL COMMENT "웹툰 제목",
        artist VARCHAR(30) NOT NULL COMMENT "작가 이름",
        summary VARCHAR(30) NOT NULL COMMENT "작품 설명",
        rating FLOAT(5,4) NOT NULL COMMENT "별점",
        comments INT NOT NULL COMMENT "댓글 수"
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
cursor.execute(sql)
conn.commit()

# 웹툰 3rd info 테이블 생성
sql = """
    CREATE TABLE webtoon_3rd_info (
        no INT PRIMARY KEY AUTO_INCREMENT COMMENT "ID",
        rank INT NOT NULL COMMENT "조회수 순위",
        title VARCHAR(50) NOT NULL COMMENT "웹툰 제목",
        artist VARCHAR(30) NOT NULL COMMENT "작가 이름",
        summary VARCHAR(30) NOT NULL COMMENT "작품 설명",
        rating FLOAT(5,4) NOT NULL COMMENT "별점",
        comments INT NOT NULL COMMENT "댓글 수"
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""
cursor.execute(sql)
conn.commit()

conn.close()

In [21]:
# pymysql을 이용하여 connector 만들기
# insert DataFrame to DB
# 웹툰 info 테이블 INSERT
pymysql.install_as_MySQLdb()

engine = create_engine("mysql+mysqldb://admin:"+"Wnalsrl1210"+"@team3-dbms.c6haebloazau.ap-northeast-2.rds.amazonaws.com/webtoon",
encoding='utf-8')
conn = engine.connect()

# pandas to_sql() function
webtoon_1st_df.to_sql(name='webtoon_1st_info', con=engine, if_exists='append', index=False)
webtoon_2nd_df.to_sql(name='webtoon_2nd_info', con=engine, if_exists='append', index=False)
webtoon_3rd_df.to_sql(name='webtoon_3rd_info', con=engine, if_exists='append', index=False)
# to_sql : DataFrame을 DB로 insert / 테이블이 없을 경우에는 자동생성, if_exists로 있을 경우에는 insert