In [1]:
import pandas as pd

In [23]:
wt_df1 = pd.read_csv('NaverWebtoon_tue1.csv', encoding='cp949')
wt_df1 = wt_df1.drop(['Unnamed: 0'], axis=1)
wt_df2 = pd.read_csv('NaverWebtoon_tue2.csv', encoding='cp949')
wt_df2 = wt_df2.drop(['Unnamed: 0'], axis=1)
wt_df3 = pd.read_csv('NaverWebtoon_tue3.csv', encoding='cp949')
wt_df3 = wt_df3.drop(['Unnamed: 0'], axis=1)
wt_df4 = pd.read_csv('NaverWebtoon_tue4.csv', encoding='cp949')
wt_df4 = wt_df4.drop(['Unnamed: 0'], axis=1)
wt_df5 = pd.read_csv('NaverWebtoon_tue5.csv', encoding='cp949')
wt_df5 = wt_df5.drop(['Unnamed: 0'], axis=1)
wt_df6 = pd.read_csv('NaverWebtoon_tue6.csv', encoding='cp949')
wt_df6 = wt_df6.drop(['Unnamed: 0'], axis=1)

In [24]:
wt_df = pd.concat([wt_df1, wt_df2, wt_df3, wt_df4, wt_df5, wt_df6], axis=1)

In [26]:
wt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Columns: 144 entries, 여우자매 to 해피하우스
dtypes: object(144)
memory usage: 5.5+ MB

In [12]:
df = wt_df1[['여우자매', '싱글맘맘이야']]

In [13]:
df

                           여우자매                                     싱글맘맘이야
0                    rkddusl999                                    gimarie
1                           9.9                                       9.92
2       제발 네이버 잡아라 안잡으면 진짜 욕먹는다                     아오 진짜 결혼만안하면 이놈의 오지랖..
3     아니 2022년6월이면 나는 어케살라는 거지?  잘보고 있어요~ 근데 대체 누가 별점테러하는겨!! 콱 그냥!!!!!! ??
4                         무~야호~                      별점 테러 전남편 아님?ㅋㅋㅋㅋㅋㅋㅋㅋ
...                         ...                                        ...
5007                       올라옴♤                                        NaN
5008                          오                                        NaN
5009                          오                                        NaN
5010                          오                                        NaN
5011                       나왔다!                                        NaN

[5012 rows x 2 columns]